{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block content %}

{% if form %}
<div class="block"  />
<div>
  <div>
  <form id="edit-form" 
        action="{% url app_profiles_photo_edit id=form.instance.id|default_if_none:"" %}"  
        enctype="multipart/form-data"
        method="post"> {% csrf_token  %}
        <table width="80%" border="1px">
        {{ form.as_table }}
        </table>
        {% if form.instance.photo %}
            <img src="{{MEDIA_URL}}{{ form.instance.photo }} "/>
        {% endif %}
        <button type="submit" name="action" value="preview">プレビュー</button>
  </form>
  </div> 

<script>
</script> 

</div>
{% endif %}

{% endblock %}
