{% extends "base.html" %}
{% block content %}

{% if form %}
<div class="block"  />
<div>
  <div>
  <form id="edit-form" 
        action="{% url app_profiles_photo_edit id=form.instance.id|default_if_none:"" %}"  
        method="post"> {% csrf_token  %}

        ニックネーム{{ form.cleaned_data.nickname}} <br/>
        写真 {{ form.cleaned_data.photo}} <br/>

        {{ form }}  {# hidden フォームを POSTバックする #}

        {% if form.fields.photo_preview.initial %}
            <img src="{{MEDIA_URL}}{{ form.fields.photo_preview.initial}}" />
        {% endif %}
        <button type="submit" name="action" value="save" >送信</button>
        <button type="submit" name="action" value="edit" >再編種</button>
  </form>
  </div> 

<script>
</script> 

</div>
{% endif %}

{% endblock %}
