Django
Jinja2
MySQL-python
Pygments
-e hg+https://bitbucket.org/hdknr/sphinx-dev@660be19d7963237cdd96c9bd80f91b8cc4887581#egg=Sphinx-dev
-e git+https://github.com/hdknr/jinjatag.git@072fdda37f6d779b5f1e8a2df60ad8daea12df12#egg=jinjatag-dev
sphinxtogithub
sphinxcontrib-seqdiag

