.admonition.caution
{
  color:red;
  background-color:yellow;
}

.admonition-todo
{
  color:blue;
  background-color:lime;
}

.admonition.note
{
  margin-left:100px;
}

.admonition.warning
{
  margin-left:100px;
}

dd
{
 margin-left: 50px;
}
